<section class = "section-besoin ">

    <div class = "besoin-content ">
        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/ventreplat.png')  }}" alt="Ventre plat">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> </h4>
                <p class = "txt-besoin"></p>
            </div>
        </card> 
        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/bol.png') }}" alt="Alimentation saine">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> </h4>
                <p class = "txt-besoin"></p>
            </div>
        </card> 

        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/glace.png' ) }}" alt="Glace avec 0 calorie">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> </h4>
                <p class = "txt-besoin"></p>
            </div>
        </card> 

        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/joliefille.png') }}" alt=" Teint lumineux">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> </h4>
                <p class = "txt-besoin"></p>
            </div>
        </card> 
    </div>
    
     

</section>